@using SweetAndSavory.Models;
@model IEnumerable<SweetAndSavory.Models.Treat>
@{
  Layout = "_Layout";
}

<div class="container">

  <h2 class="text-center">Treats for @User.Identity.Name</h2>

  @if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
} 
else
{
  <h3>No treats have been added yet!</h3>
}

<p class="text-center" >@Html.ActionLink("Add new treat", "Create")</p>
</div>